
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
// defining custom scss variables
$font:"Arial, sans-serif";
$Cfont: Poppins, Arial, Helvetica, sans-serif;
$darkgrey:#545454;
$grey:#69747C;
$apple:#6BAA75;
$green:#84DD63;
$lime:#CBFF4D;
$teal:#81D2C7;

$light: whitesmoke;
$dark: #333;

@mixin mobile {
    @media (max-width: 768px){
        @content
    }
}